<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Hacknews</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Challenges <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card-deck">
                <div class="card">
                    <img src="../../assets/images/Machine_learning_Quiz_Logo_full_stack.png" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="#" class="card-link">Likes: 14</a>
                            <a href="#" class="card-link">Dislikes: 42</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>